<div class="burger-photo">
    <img id="main-image" src="./assets/images/burger.png" width="325" height="325" frameBorder="0" class="burger"></img>
    <img id="main-image" src="./assets/images/burger.png" width="325" height="325" frameBorder="0" class="burger"></img>
    <img id="main-image" src="./assets/images/burger.png" width="325" height="325" frameBorder="0" class="burger"></img>
</div>
<h1 class="main-header">EAT DA BURGER!</h1>

<section class="row">


    <div class="col-md-6 col-left avail-col">
        <h1 class=>Available Burgers:</h1>

        {{#each burgers}}
        {{#unless devoured}}
        <div class"col-md-9">{{id}}. {{burger_name}}</div>
        <div class="col md-3">
            <form class="devour-form button-size">
                <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
                <button type="submit" class="btn btn-default">Devour it!</button>
            </form>
            <br>
        </div>

        {{/unless}}
        {{/each}}
    </div>

    <div class="col-md-6 col-right dev-col">
        <h1>Devoured Burgers:</h1>
        {{#each burgers}}
        {{#if devoured}}
        <div>{{id}}. {{burger_name}}</div>
        {{/if}}
        {{/each}}
    </div>
</section>

<form class="create-form">
    <div class="form-group">
        <label for="name"></label>
        <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="Place burger order here!"></textarea>
    </div>
    <button type="submit">Add Burger</button>
</form>
</div>